.grade, .export_button {  
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    float: right;

    text-align: center;
    padding: 2px 10px;
    margin: 10px;
    background-color: #25c2a0;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.grade {
    width: 100px;
}

.export_button :hover {
    cursor: pointer;
}