name: deploy

on:
  push:
    branches: [main]

jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Release to GitHub Pages
        working-directory: Teaching-Toolbox/website
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          git config --global user.email "jules.fouchy@ntymail.com" 
          git config --global user.name "julesfouchy" 
          if [ -e yarn.lock ]; then 
            yarn install --frozen-lockfile 
          elif [ -e package-lock.json ]; then 
            npm ci 
          else 
            npm i 
          fi 
          npm run deploy
